.aside .logo a::before{
    border-top: 4px solid #ffb400;
    border-left: 4px solid #ffb400;
}
.aside .logo a::after{
    border-right: 4px solid #ffb400;
    border-bottom: 4px solid #ffb400;
}

.about .about-content .timeline .timeline-text li::before,
.contact .contact-info-item .icon .fa,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio .portfolio-filter  button.active,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
.about .about-content .personnal-info .info-item p .findJob,
body.dark .about .about-content .personnal-info .info-item p .findJob,
body.dark .aside .nav li a:hover,
.aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a.active{
    color: #ffb400;
}

::-webkit-scrollbar-thumb,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2:before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a
{
    background-color: #ffb400;
}


.portfolio .portfolio-filter  button.active{
    border-color: #ffb400;
}

.shadow-dark,
body.dark .shadow-dark{
    box-shadow: 0 0 20px rgba(	255, 180, 0,0.23);
}